xsd/tests/xsd/all.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="all">
    <xs:complexType>
      <xs:all>
        <xs:annotation>
          <xs:documentation>all</xs:documentation>
        </xs:annotation>
        <xs:element name="first" type="xs:string" />
        <xs:element name="second" type="xs:string" />
        <xs:element name="third" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>