xsd/tests/xsd/choice_sequence.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:choice>
          <xs:annotation>
            <xs:documentation>the name</xs:documentation>
          </xs:annotation>
          <xs:element name="fullName" type="xs:string" />
          <xs:sequence>
            <xs:element name="firstName" type="xs:string" />
            <xs:element name="lastName" type="xs:string" />
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>