xsd/tests/xsd/choice_vec.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="alias" type="xs:string" />
          <xs:element name="email" type="xs:string" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>