xsd/tests/xsd/element_ref_element.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:main" xmlns:main="urn:main">
  <xs:element name="service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="main:versionNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="versionNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="major" type="xs:int" />
				<xs:element name="minor" type="xs:int" />
				<xs:element name="bug" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>