xsd/tests/xsd/element_fixed.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="name" type="xs:string" fixed="foobar">
    <xs:annotation>
      <xs:documentation>The service name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- <xs:complexType name="version">
    <xs:annotation>
      <xs:documentation>The service version.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="major" type="xs:int" fixed="2" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Majore version number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType> -->
</xs:schema>