xsd/tests/xsd/element_complex_type_sequence_test.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article">
    <xs:annotation>
      <xs:documentation>A single article.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subject" type="xs:string" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="author" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>