xsd/tests/xsd/element_ref_other.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:base" xmlns:base="urn:base">
  <xs:element name="content" type="base:ArticleContent" />
  <xs:complexType name="ArticleContent">
    <xs:sequence>
      <xs:element name="excerpt" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>