xsd/tests/xsd/element_type_complex.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="excerpt" type="xs:string" />
        <xs:element name="author" type="author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="author">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>