xsd/tests/xsd/element_ref_type.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:main="urn:main">
	<xs:simpleType name="ZipType">
		<xs:restriction base="xs:string">
      <xs:minLength value="5"/>
      <xs:maxLength value="5"/>
      <xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="zip" type="ZipType"/>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="zip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>