xsd/tests/xsd/form_unqualified_with_target_namespace.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="urn:foobar">
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="excerpt" type="xs:string" />
        <xs:element name="author">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>