xsd/tests/xsd/sequence_sequence.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="scope" type="xs:string" />
        <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:int" />
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>