xsd/tests/xsd/sequence_vec.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="key" type="xs:string" />
        <xs:element name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>